@font-face {
    font-family: clarendon;
    src: url(images/clarendon);
}
body{
    background-color: rgb(157, 190, 190);
}
.container {
    background-color: black;
    width: 780px;
    height: 330px;
    border-radius: 175px;
    margin: 100px 100px;
    
}



.pantalla {
    
    background-image: url(https://cdn1.epicgames.com/offer/6f43ab8025ad42d18510aa91e9eb688b/EGS_FINALFANTASYVIIREMAKEINTERGRADE_SquareEnix_S1_2560x1440-85f829541a833442eaace75d02e0f07d);
    background-size: cover;
    width: 460px;
    height: 250px;
    margin-top: 2em;
    border: 0.15rem solid #00000096;
    border-radius: 0.3rem;
}
.container {
    display:flex;
    width: 780px;
    height: 330px;
    flex-direction: row;
}
.parte-izquierda{
}
.cruceta{
    background: red;
    width: 160px;
    height: 250px;
    margin-top: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cross{
background-color: white;
position: absolute;
}
.horizontal {
    width: 160px;
    height: 40px;
    background-color: green;
}
.vertical{
    width: 40px;
    height: 160px;
    background-color: green;
}
.parte-derecha{
    width: 160px;
    display: flex;
    flex-direction: column;
}
.botonR{
    display: block;
    height: 38px;
    width: 99px;
    background-color: gray;
    border-radius: 0px 39px;
}
.logo{
    color: white;
    font-family: clarendon;
    font-size: 20px;
    display: block;
    height: 53px;
    margin: 10px 0px 0px 10px;
}
img{
   height: 40px;
   width: 70px;
}
.buttons-group{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-self: center;
}

.button{
    display:flex;
    border: 2px solid white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
}

.triangle-button{
    color: #2CA873;
    font-size: 28px;
}
.square-button{
    color: #FBB4F6;
    font-size: 39px;
}
.cross-button{
    color: #54ACE2;
    font-size: 24px;
}
.circle-button{
    color: #F483AB;
    font-size: 24px;
}

.power{
    color: white;
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 35px;
    margin-bottom: 20px;
}
p {
    margin-left: 35px;
}
.vacioblanco{
    background-color: rgb(157, 190, 190);
    height: 40px;
    width: 100px;
    border-radius: 39px 0px;
}
